.DS_Store
packages
.project
pubspec.lock

example/mpd/music
example/mpd/playlists
example/mpd/database.db
example/mpd/log
example/mpd/mpd.conf
example/mpd/pid
example/mpd/state
example/mpd/sticker.sql

